:root {
  --color-background: white;
  --color-background-soft: rgb(248, 248, 248);
  --color-background-mute: rgb(242, 242, 242);
  --color-background-selection: rgba(0, 0, 0, 0.8);

  --color-text: var(--color-text-80);
  --color-text-diluted: var(--color-text-10);
  --color-text-selection: white;
  --color-text-link: var(--color-text-80);
  --color-text-link-inline: var(--color-text-60);
  --color-text-link-hover: var(--color-text-90);
  --color-text-link-hover-inline: var(--color-text-80);

  --color-text-10: rgba(0, 0, 0, 0.1);
  --color-text-30: rgba(0, 0, 0, 0.3);
  --color-text-40: rgba(0, 0, 0, 0.4);
  --color-text-50: rgba(0, 0, 0, 0.5);
  --color-text-60: rgba(0, 0, 0, 0.6);
  --color-text-80: rgba(0, 0, 0, 0.8);
  --color-text-90: rgba(0, 0, 0, 0.9);

  --color-divider: rgba(0, 0, 0, 0.1);

  --color-2: rgba(0, 0, 0, 0.02);
  --color-5: rgba(0, 0, 0, 0.05);
  --color-7: rgba(0, 0, 0, 0.07);
  --color-10: rgba(0, 0, 0, 0.1);
  --color-15: rgba(0, 0, 0, 0.15);
  --color-20: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: rgb(24, 24, 24);
    --color-background-soft: rgb(34, 34, 34);
    --color-background-mute: rgb(40, 40, 40);
    --color-background-selection: white;

    --color-text-selection: rgba(0, 0, 0, 0.8);

    --color-text-10: rgba(235, 235, 235, 0.1);
    --color-text-30: rgba(235, 235, 235, 0.3);
    --color-text-40: rgba(235, 235, 235, 0.4);
    --color-text-50: rgba(235, 235, 235, 0.5);
    --color-text-60: rgba(235, 235, 235, 0.6);
    --color-text-80: rgba(235, 235, 235, 0.8);
    --color-text-90: rgba(235, 235, 235, 0.9);

    --color-divider: rgba(255, 255, 255, 0.1);

    --color-2: rgba(255, 255, 255, 0.02);
    --color-5: rgba(255, 255, 255, 0.05);
    --color-7: rgba(255, 255, 255, 0.07);
    --color-10: rgba(255, 255, 255, 0.3);
    --color-15: rgba(255, 255, 255, 0.15);
    --color-20: rgba(255, 255, 255, 0.4);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial',
    'Roboto', 'Source Han Sans SC', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  outline: none;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--color-background-selection);
  color: var(--color-text-selection);
}

a,
a.inline {
  text-decoration: none;
  transition: 0.4s;
}

a {
  color: var(--color-text-link);
}

a.inline {
  color: var(--color-text-link-inline);
  border-bottom: 1px dashed var(--color-text-link-inline);
}

a:hover {
  color: var(--color-text-link-hover);
}

a.inline:hover {
  color: var(--color-text-link-hover-inline);
  border-bottom: 1px solid var(--color-text-link-hover-inline);
}
